<ol class="breadcrumb hidden-xs">
    <li>Cadastro</li>
    <li class="active">Dados Bancarios</li>
</ol>
<br>
<div class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="btn-group pull-right" style="padding-bottom:10px;">
                <a href="javascript:history.back()" class="btn btn-primary btn-sm" data-original-title="" title=""><i class="fa fa-reply"></i> Voltar</a>
                <a class="btn btn-success btn-sm" (click)="saveInstance.ExecuteCreate();"><i class="fa fa-plus"></i> Cadastrar</a>
            </div>
        </div>
    </div>

    <dadosbancarios-filter (instance)="filterInstance = $event"></dadosbancarios-filter>

    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">Resultado</div>
                <div class="table-responsive">
                    <dadosbancarios-grid [dataList]="filterInstance.dataList" [filterInstance]="filterInstance" [saveInstance]="saveInstance" [deleteInstance]="deleteInstance"></dadosbancarios-grid>
                </div>
                <div class="panel-footer text-center">
                    <make-pagination [filterInstance]="filterInstance"></make-pagination>
                </div>
            </div>
        </div>
    </div>
</div>

<dadosbancarios-save (onSave)="filterInstance.ExecuteFilter()" (instance)="saveInstance = $event"></dadosbancarios-save>

<dadosbancarios-delete (onDelete)="filterInstance.ExecuteFilter()" (instance)="deleteInstance = $event"></dadosbancarios-delete>