<div>
    <div class="row">
        <div class="col-xs-12">
            <div class="btn-group pull-right" style="padding-bottom:10px;">
                <a href="javascript:history.back()" class="btn btn-primary btn-sm" data-original-title="" title=""><i class="fa fa-reply"></i> Voltar</a>
                <a class="btn btn-success btn-sm"><i class="fa fa-plus"></i> Cadastrar Campanha</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">Filtros</div>
                <div class="panel-body">
                    <form>
                        <section class="col-md-6">
                            <div class="form-group">
                                <label>Nome</label>
                                <input type="text" class="form-control" />
                            </div>
                        </section>
                    </form>
                </div>
                <div class="panel-footer">
                    <button type="button" class="btn btn-primary">
                        <span class="fa fa-search"></span>
                        Filtrar
                    </button>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">Resultado</div>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nome</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>123</td>
                                <td>Teste</td>
                            </tr>
                            <tr>
                                <td>123</td>
                                <td>Teste</td>
                            </tr>
                            <tr>
                                <td>123</td>
                                <td>Teste</td>
                            </tr>
                            <tr>
                                <td>123</td>
                                <td>Teste</td>
                            </tr>
                            <tr>
                                <td>123</td>
                                <td>Teste</td>
                            </tr>
                            <tr>
                                <td>123</td>
                                <td>Teste</td>
                            </tr>
                            <tr>
                                <td>123</td>
                                <td>Teste</td>
                            </tr>
                            <tr>
                                <td>123</td>
                                <td>Teste</td>
                            </tr>
                            <tr>
                                <td>123</td>
                                <td>Teste</td>
                            </tr>
                            <tr>
                                <td>123</td>
                                <td>Teste</td>
                            </tr>
                            <tr>
                                <td>123</td>
                                <td>Teste</td>
                            </tr>
                            <tr>
                                <td>123</td>
                                <td>Teste</td>
                            </tr>
                            <tr>
                                <td>123</td>
                                <td>Teste</td>
                            </tr>
                            <tr>
                                <td>123</td>
                                <td>Teste</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="text-center">
            </div>
        </div>
    </div>
</div>