<div>
    <div class="row">
        <div class="col-xs-12">
            <div class="btn-group pull-right" style="padding-bottom:10px;">
                <a href="javascript:history.back()" class="btn btn-primary btn-sm" data-original-title="" title=""><i class="fa fa-reply"></i> Voltar</a>
                <a class="btn btn-success btn-sm" (click)="createModal.show(); createForm.reset()"><i class="fa fa-plus"></i> Cadastrar Campanha</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">Filtros</div>
                <div class="panel-body">
                    <form (ngSubmit)="Filter()" #filterForm="ngForm">
                        <section class="col-md-6">
                            <div class="form-group">
                                <label>Nome</label>
                                <input type="text" class="form-control" name="Nome" [(ngModel)]="filter.Nome" />
                            </div>
                        </section>
                    </form>
                </div>
                <div class="panel-footer">
                    <button type="button" class="btn btn-primary" (click)="filterForm.ngSubmit.emit()">
                        <span class="fa fa-search"></span>
                        Filtrar
                    </button>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">Resultado</div>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-condensed has-tickbox table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nome</th>
                                <th>Ativo</th>
                                <th style="width:75px;" class="text-center">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let campanha of collectionCampanha">
                                <td>{{ campanha.CampanhaId }}</td>
                                <td>{{ campanha.Nome }}</td>
                                <td>
                                    <span class='label' [ngClass]="{'label-danger': !campanha.Ativo, 'label-success': campanha.Ativo}">{{ campanha.Ativo ? 'Sim' : 'Não' }}</span>
                                </td>
                                <td>
                                    <button class="btn btn-xs btn-primary" (click)="edit(campanha.CampanhaId);"><i class="fa fa-pencil"></i></button>
                                    <button class="btn btn-xs btn-danger" (click)="delete(campanha);"><i class="fa fa-trash-o"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="text-center">
            </div>
        </div>
    </div>
</div>

<div bsModal #createModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header alert-success">
                <h4 class="modal-title pull-left">Cadastrar</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="createModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="ConfirmSave()" #createForm="ngForm">
                    <input type="hidden" name="CampanhaId" id="CampanhaId" [(ngModel)]="model.CampanhaId" />
                    <div class="form-group">
                        <label for="nome">Nome</label>
                        <input type="text" class="form-control" name="Nome" [(ngModel)]="model.Nome" required />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" type="button" (click)="createModal.hide()">Cancelar</button>
                <button type="submit" class="btn btn-success" [disabled]="!createForm.form.valid" (click)="createForm.ngSubmit.emit()">Salvar</button>
            </div>
        </div>
    </div>
</div>


<div bsModal #deleteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header alert-danger">
                <h4 class="modal-title pull-left">Confirmação</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="deleteModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="ConfirmDelete()" #deleteForm="ngForm">
                    <input type="hidden" name="CampanhaId" id="CampanhaId" [(ngModel)]="model.CampanhaId" />
                    <h4>Confirma a remoção deste item?</h4>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" type="button" (click)="deleteModal.hide()">Cancelar</button>
                <button type="submit" class="btn btn-danger" (click)="deleteForm.ngSubmit.emit()">Confirmar</button>
            </div>
        </div>
    </div>
</div>