//Cores Gerais
$color-branco: #ffffff;
$color-branco-rgba-90: rgba(255,255,255, 0.90);
$color-branco-rgba-70: rgba(255,255,255, 0.70);
$color-branco-rgba-50: rgba(255,255,255, 0.50);
$color-branco-rgba-30: rgba(255,255,255, 0.30);
$color-preto: #000000;
$color-preto-rgba-90: rgba(0, 0, 0, 0.90);
$color-preto-rgba-70: rgba(0, 0, 0, 0.70);
$color-preto-rgba-50: rgba(0, 0, 0, 0.50);
$color-preto-rgba-30: rgba(0, 0, 0, 0.30);
$color-text: #333333;
$color-cinza-claro: #eeeeee;
$color-cinza: #cccccc;


$color-verde: #27ae60;
$color-verde-claro: #2ecc71;
$color-azul: #2980b9;
$color-azul-claro: #3498db;
$color-amarelo: #f39c12;
$color-amarelo-claro: #f1c40f;
$color-laranja: #d35400;
$color-laranja-claro: #e67e22;
$color-vermelho: #c0392b;
$color-vermelho-claro: #e74c3c;