<div>
    <div class="row">
        <div class="col-xs-12">
            <div class="btn-group pull-right" style="padding-bottom:10px;">
                <a href="javascript:history.back()" class="btn btn-primary btn-sm" data-original-title="" title=""><i class="fa fa-reply"></i> Voltar</a>
                <a class="btn btn-success btn-sm" (click)="saveInstance.ExecuteCreate();"><i class="fa fa-plus"></i> Cadastrar Midia</a>
            </div>
        </div>
    </div>

    <midia-filter (instance)="filterInstance = $event"></midia-filter>

    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">Resultado</div>
                <div class="table-responsive">
                    <midia-grid [dataList]="filterInstance.dataList" [filterInstance]="filterInstance" [saveInstance]="saveInstance" [deleteInstance]="deleteInstance"></midia-grid>
                </div>
                <div class="panel-footer text-center">
                    <make-pagination [filterInstance]="filterInstance"></make-pagination>
                </div>
            </div>
        </div>
    </div>
</div>

<midia-save (onSave)="filterInstance.ExecuteFilter()" (instance)="saveInstance = $event"></midia-save>

<midia-delete (onDelete)="filterInstance.ExecuteFilter()" (instance)="deleteInstance = $event"></midia-delete>