<div class="layout-wrapper">
  <div id="layout-sidebar" [ngClass]="{'active':mobileMenuActive}">
    <span class="layout-logo">
            <a href="#" class="sidebar-logo" [routerLink]="['/']">
                <img alt="logo" src="https://upload.wikimedia.org/wikipedia/en/3/34/AlthepalHappyface.svg" />
            </a>
            <a href="#" id="menu-button-mobile" (click)="toggleMenu($event)" [ngClass]="{'active':mobileMenuActive}">
                <img alt="logo" src="../../assets/images/menuicon.svg"/>
            </a>
        </span>

    <a id="button_menutitle" [routerLink]="['/dashboard']">
      <span>dashboard</span>
    </a>
  </div>

  <div id="layout-content">
    <div id="topbar">
      <a href="#" id="menu-button" (click)="toggleMenu($event)">
        <img alt="logo" src="../../assets/images/menuicon.svg" />
      </a>

      <a href="http://forum.primefaces.org/viewforum.php?f=35" class="topbar-link">
        <img alt="mockosx" src="./../assets/images/community.svg" />
        <span>Forum</span>
      </a>

      <span class="topbar-link" id="themeSwitcher" (mouseenter)="themesVisible = true" (mouseleave)="themesVisible = false">
                <img src="./../assets/images/themeswitcher.svg" />
                <span>Themes</span>
      <div id="GlobalThemeSwitcher" [style.display]="themesVisible ? 'block' : 'none'" style="margin-top:10px">
        <span>Premium Templates</span>
        <a href="http://www.primefaces.org/layouts/barcelona-ng"><img src="./../assets/images/themeswitcher-barcelona.png" alt="Barcelona Template"><span class="ui-text">Barcelona</span></a>
        <a href="http://www.primefaces.org/layouts/poseidon-ng"><img src="./../assets/images/themeswitcher-poseidon.png" alt="Poseidon Template"><span class="ui-text">Poseidon</span></a>
        <a href="http://www.primefaces.org/layouts/ultima-ng"><img src="./../assets/images/themeswitcher-ultima.png" alt="Ultima Template"><span class="ui-text">Ultima</span></a>
        <a href="http://www.primefaces.org/layouts/omega-ng"><img src="./../assets/images/themeswitcher-omega.png" alt="Omega Template"><span class="ui-text">Omega</span></a>
        <span>Free Themes</span>
        <a href="#" data-theme="omega" onclick="DemoApp.changeTheme(event, this)"><span class="ui-text">Omega</span></a>
        <a href="#" data-theme="bootstrap" onclick="DemoApp.changeTheme(event, this)"><span class="ui-text">Bootstrap</span></a>
        <a href="#" data-theme="cupertino" onclick="DemoApp.changeTheme(event, this)"><span class="ui-text">Cupertino</span></a>
        <a href="#" data-theme="cruze" onclick="DemoApp.changeTheme(event, this)"><span class="ui-text">Cruze</span></a>
        <a href="#" data-theme="darkness" onclick="DemoApp.changeTheme(event, this)"><span class="ui-text">Darkness</span></a>
        <a href="#" data-theme="flick" onclick="DemoApp.changeTheme(event, this)"><span class="ui-text">Flick</span></a>
        <a href="#" data-theme="home" onclick="DemoApp.changeTheme(event, this)"><span class="ui-text">Home</span></a>
        <a href="#" data-theme="kasper" onclick="DemoApp.changeTheme(event, this)"><span class="ui-text">Kasper</span></a>
        <a href="#" data-theme="lightness" onclick="DemoApp.changeTheme(event, this)"><span class="ui-text">Lightness</span></a>
        <a href="#" data-theme="ludvig" onclick="DemoApp.changeTheme(event, this)"><span class="ui-text">Ludvig</span></a>
        <a href="#" data-theme="pepper-grinder" onclick="DemoApp.changeTheme(event, this)"><span class="ui-text">Pepper-Grinder</span></a>
        <a href="#" data-theme="redmond" onclick="DemoApp.changeTheme(event, this)"><span class="ui-text">Redmond</span></a>
        <a href="#" data-theme="rocket" onclick="DemoApp.changeTheme(event, this)"><span class="ui-text">Rocket</span></a>
        <a href="#" data-theme="south-street" onclick="DemoApp.changeTheme(event, this)"><span class="ui-text">South-Street</span></a>
        <a href="#" data-theme="start" onclick="DemoApp.changeTheme(event, this)"><span class="ui-text">Start</span></a>
        <a href="#" data-theme="trontastic" onclick="DemoApp.changeTheme(event, this)"><span class="ui-text">Trontastic</span></a>
        <a href="#" data-theme="voclain" onclick="DemoApp.changeTheme(event, this)"><span class="ui-text">Voclain</span></a>
      </div>
      </span>

      <a href="setup.html" class="topbar-link" [routerLink]="['/setup']">
        <img alt="mockosx" src="./../assets/images/setup.svg" />
        <span>Setup</span>
      </a>

      <div class="mobile-logo">
        <img src="./../assets/images/primeng-sidebar.svg" />
      </div>
    </div>

    <div>
      <router-outlet></router-outlet>
    </div>

    <div class="content-section footer clearfix">
      <span><a href="http://www.primetek.com.tr">PrimeTek</a>, Copyright &copy; 2017</span>
      <span>All rights reserved</span>
    </div>
  </div>

</div>