<div class="sidebar-wrapper" [ngClass]="{'sidebar-wrapper-hidden': !menuOpen}">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a [routerLink]="''" style="margin-left: 35px;">
                <img src="http://www.estanciapedradaonca.com.br/images/avatar/img-1.png"
                />
            </a>
        </li>
        <li>
            <a [routerLink]="'/dashboard'" routerLinkActive="active">
                <i class="fa fa-home"></i> Dashboard
            </a>
        </li>
        <li>
            <a [routerLink]="'/midia'" routerLinkActive="active">
                <i class="fa fa-edit"></i> Midias
            </a>
        </li>
    </ul>
</div>